@import url('./directory.css');
@import url('./panel.css');
@import url('./content.css');
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}
body {
	font: 8pt/10pt verdana;
	margin: 0;
}

div.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

* {
	image-rendering: pixelated;
}
