#Content {
	position: absolute;
	top: 0;
	left: 30%;
	width: 70%;
	height: 100%;
	overflow-y: scroll;
}

#Content div.inner {
	margin: 19px;
	font: 8pt/10pt verdana;
}

#Content h1 {
	color: black;
	font: 13pt/15pt verdana;
}

#Content h2 {
	color: black;
	font: 12pt/15pt verdana;
	font-weight: bold;
}

#Content h1.fs-title {
	margin: -19px 0;
	margin-bottom: 10px;
	font: 16pt verdana;
	font-weight: bold;
	width: 90%;
	overflow: hidden;
}

table {
	font: 8pt/10pt verdana;
}
