table.directory td {
	padding: 0;
	margin: 0;
	width: fit-content;
	text-align: left;
	min-width: unset;
	background-color: transparent;
	border: none;
	margin-bottom: 4px;
	height: 17px;
}

table.directory * {
	vertical-align: middle;
}

table.directory form {
	display: inline;
}

table.directory td a {
	/* text-decoration: underline;
	color: #8e92a7; */
	color: black;
	text-decoration: none;
}

table.directory td img {
	margin-right: 6px;
	height: 16px;
}

table.directory td.name {
	padding-right: 50px;
	min-width: 80px;
}

table.directory button.delete {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	color: currentcolor;
	font: 8pt/10pt verdana;
	color: blue;
	text-decoration: underline;
}
