#Panel {
	position: absolute;
	width: 30%;
	height: 100%;
	overflow: auto;
}

#Panel p {
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 15px;
}
#Panel p.Title {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 5px;
	white-space: nowrap;
}
#Panel p.LogoLine {
	margin-left: 0;
	margin-top: -8px;
	margin-right: 0;
	margin-bottom: 22px;
}

#Panel p.image {
	margin-bottom: 11px;
}

#Panel table.error {
	margin: 15px;
	border-collapse: collapse;
	margin-top: -5px;
}

#Panel div.badges {
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin: 0;
}
